// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sessions-login {
  .login-form {
    max-width: 1000px;
    margin: auto;
  }
}

.users-new {
  .registration-form {
    max-width: 1000px;
    margin: auto;
  }
}

.sessions-login, .users-new {
  .link-button {
    display: inline-block;
    margin-top: 10px;
  }
}
